<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>粉丝列表</title>
<link rel="stylesheet" th:href="@{/styles/result.css}">
<link rel="stylesheet" th:href="@{/styles/detail.css}">
</head>
<body>

<div class="My" th:replace="header::header"></div>
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <div class="zm-profile-section-wrap zm-profile-followee-page">
                <div class="zm-profile-section-head">
                    <span class="zm-profile-section-name">
                        <font href="#" th:utext="${curUser.name}+'粉丝' +${followerCount}+' 人'"></font> 
                    </span>
                </div>
                <div class="zm-profile-section-list">
                    <div id="zh-profile-follows-list">
                        <div class="zh-general-list clearfix">
                            <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard" th:each="map:${followers}">
                                <div class="zg-right" th:if="${map['followed']}">
                                    <button class="zg-btn zg-btn-unfollow zm-rich-follow-btn small nth-0
                                    js-follow-user" data-status="1" data-id="${map['user'].id}">取消关注</button>
                                </div>
                                <div class="zg-right" th:if="!${map['followed']}">
                                    <button class="zg-btn zg-btn-follow zm-rich-follow-btn small nth-0
                                    js-follow-user">关注</button>
                                </div>
                                <a title="Barty" class="zm-item-link-avatar" th:href="@{/user/}+${map['user'].id}">
                                    <img th:src="${map['user'].head_url}" class="zm-item-img-avatar">
                                </a>
                                <div class="zm-list-content-medium">
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" th:href="@{/user/}+${map['user'].id}" style="font-size:20px"th:utext="${map['user'].name}"></a></h2>

                                    <div class="details zg-gray">
                                        <a target="_blank" th:href="@{/user/}+${map['user'].id}+'/followers'" class="zg-link-gray-normal" th:utext="${map['followerCount']}+'粉丝'"></a>
                                        /
                                        <a target="_blank" th:href="@{/user/}+${map['user'].id}+'/followees'" class="zg-link-gray-normal" th:utext="${map['followeeCount']}+'关注'"></a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a aria-role="button" class="zg-btn-white zu-button-more">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="My1" th:replace="footer::footer"></div>
<script type="text/javascript" th:src="@{/scripts/main/site/follow.js}"></script>

</body>
</html>