<!DOCTYPE html>
<html lang="zh-CN" dropeffect="none" class="js is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile" style="" th:fragment="header">
<head>
<head>
<meta charset="UTF-8">
<title>消息记录</title>
<link rel="stylesheet" th:href="@{/styles/letter.css}">
</head>
<body>
	<div class="My" th:replace="header::header"></div>
	<div id="main">
		<div class="zg-wrap zu-main clearfix ">
			<ul class="letter-list">
				<div th:each="c:${conversations}">
				<li id="conversation-item-10001_622873"><a class="letter-link"
					th:href="@{/msg/detail?conversationId=}+${c['conversation'].conversationId}">
				</a>
					<div class="letter-info">
						<span class="l-time" th:utext="${#dates.format(c['conversation'].createdDate,'yyyy/MM/dd HH:mm:ss')}"></span>
						<div class="l-operate-bar">

							<a th:href="@{/msg/detail?conversationId=}+${c['conversation'].conversationId}">
								</a>
						</div>
					</div>
					<div class="chat-headbox">
						<span class=" js-voteCount msg-num " th:if="${c['unread']!=0}"th:utext="${c['unread']}"> </span> 
						<a
							class="list-head"> <img alt="头像"
							th:src="${c['user'].head_url}">
						</a>
					</div>
					<div class="letter-detail">
						<a title="${c['user'].name}"
							class="letter-name level-color-1" th:utext="${c['user'].name}"></a>
						<p class="letter-brief">
							<a
								th:href="@{/msg/detail?conversationId=}+${c['conversation'].conversationId}">
								<font th:utext="${c['conversation'].content}"></font> </a>
						</p>
					</div></li> 
					</div>
			</ul>

		</div>
	</div>
	<div class="MyFooter" th:replace="footer::footer"></div>
</body>
</html>