<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:utext="${profileUser['user'].name}">的主页</title>
<div class="My" th:replace="header::header"></div>
<link rel="stylesheet" th:href="@{/styles/index.css}">
<link rel="stylesheet" th:href="@{/styles/detail.css}">
</head>
<body>

	<div class="zg-wrap zu-main clearfix " role="main">
		<div class="zm-profile-section-wrap zm-profile-followee-page">

			<div class="zm-profile-section-list">
				<div id="zh-profile-follows-list">
					<div class="zh-general-list clearfix">
						<div
							class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
							<div class="zg-right">
								<button
									class="zg-btn zg-btn-unfollow zm-rich-follow-btn small nth-0
                                    js-follow-user"
									data-status="1" th:data-id="${profileUser['user'].id}"
									th:if="${profileUser['followed']&&profileUser['display']}">取消关注</button>
								<button
									class="zg-btn zg-btn-follow zm-rich-follow-btn small nth-0
                                    js-follow-user"
									th:data-id="${profileUser['user'].id}"
									th:if="${!profileUser['followed']&&profileUser['display']}">关注</button>
							</div>
							<a title="Barty" class="zm-item-link-avatar"
								th:href="@{/user/}+${profileUser['user'].id}"> <img
								th:src="${profileUser['user'].head_url}"
								class="zm-item-img-avatar">
							</a>
							<div class="zm-list-content-medium">
								<h2 class="zm-list-content-title">
									<a data-tip="p$t$buaabarty"
										th:href="@{/user/}+${profileUser['user'].id}" class="zg-link"
										th:utext="${profileUser['user'].name}"></a>
								</h2>

								<div class="details zg-gray">
									<a target="_blank"
										th:href="@{/user/}+${profileUser['user'].id}+'/followers'"
										class="zg-link-gray-normal"
										th:utext="${profileUser['followerCount']}+'粉丝'"></a> / 
										<a target="_blank"
										th:href="@{/user/}+${profileUser['user'].id}+'/followees'"
										class="zg-link-gray-normal"
										th:utext="${profileUser['followeeCount']}+'关注'"></a>
										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="zu-main-content">
			<div class="zu-main-content-inner">
				<div class="zg-section" id="zh-home-list-title">
					<i class="zg-icon zg-icon-feedlist"></i>最新动态 (共 <font th:utext="${articleNum}"></font> 帖子)<span
						class="zg-right zm-noti-cleaner-setting" style="list-style: none">
						<a href="#"
						class="zg-link-gray-normal"> <i
							class="zg-icon zg-icon-settings"></i>设置
					</a>
					</span>
				</div>
				<div class="zu-main-feed-con navigable" data-feedtype="topstory"
					id="zh-question-list">
					<div id="js-home-feed-list"
						class="zh-general-list topstory clearfix">

						<div
							class="feed-item folding feed-item-hook feed-item-2
                        "
							feed-item-a="" data-type="a" id="feed-2"
							data-za-module="FeedItem" data-za-index=""
							th:each="question:${questions}">
							<meta itemprop="ZReactor" data-id="389034" data-meta="">
							<div class="feed-item-inner">
								<div class="avatar">
									<a th:title="${question.user_id.name}" data-tip="p$t$amuro1230"
										class="zm-item-link-avatar" target="_blank"
										href="#"> <img
										th:src="${question.user_id.head_url}"
										class="zm-item-img-avatar"></a>
								</div>
								<div class="feed-main">
									<div class="feed-content" data-za-module="AnswerItem">
										<meta itemprop="answer-id" content="389034">
										<meta itemprop="answer-url-token" content="13174385">
										<h2 class="feed-title">
											<a class="question_link" target="_blank"
												th:href="@{/question/}+${question.id}"
												th:utext="${question.title}"></a>
										</h2>
										<div class="feed-question-detail-item">
											<div class="question-description-plain zm-editable-content"></div>
										</div>
										<div class="expandable entry-body">
											<div class="zm-item-vote">
												<a class="zm-item-vote-count js-expand js-vote-count"
														href="#" data-bind-votecount=""><font th:utext="${question.comment_count}"></font></a>
											</div>
											<div class="zm-item-answer-author-info">
												<a class="author-link" data-tip="p$b$amuro1230"
													target="_blank" th:href="@{/user/}+${question.user_id.id}"
													th:utext="${question.user_id.name}"></a> ，<font
													th:utext="${#dates.format(question.created_date,'yyyy/MM/dd HH:mm:ss')}"></font>
											</div>
											<div class="zm-item-vote-info" data-votecount="4168"
												data-za-module="VoteInfo">
												<span class="voters text"> <a href="#"
													class="more text"> <span class="js-voteCount"></span>&nbsp;人赞同
												</a></span>
											</div>
											<div class="zm-item-rich-text expandable js-collapse-body"
												data-resourceid="123114" data-action="/answer/content"
												data-author-name="李淼"
												data-entry-url="/question/19857995/answer/13174385">
												<div class="zh-summary summary clearfix"
													th:utext="${question.content}"></div>
											</div>
										</div>
										<div class="feed-meta">
											<div
												class="zm-item-meta answer-actions clearfix js-contentActions">
												<div class="zm-meta-panel">
													<a data-follow="q:link"
														class="follow-link zg-follow meta-item"
														href="javascript:;" id="sfb-123114"> <i
														class="z-icon-follow"></i>关注问题
													</a> <a href="#"
															class="meta-item toggle-comment js-toggleCommentBox">
															<i class="z-icon-comment"></i><font th:utext="${question.comment_count}"></font>
														条评论
													</a>


													<button class="meta-item item-collapse js-collapse">
														<i class="z-icon-fold"></i>收起
													</button>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a class="zu-top-add-question pagination" th:href="@{/user/}+${userId}+'?page='+${pageNum}" style="margin-left: 10px">尾页</a>
					<a class="zu-top-add-question pagination" th:href="@{/user/}+${userId}+'?page='+${page+1}" style="margin-left: 10px">下一页</a>
					<div th:each="page:${pageList}">
						<a class="zu-top-add-question pagination" style="margin-left: 10px"
							th:href="'/user/'+${userId}+'?page='+${page}" th:utext="${page+1}"></a>
					</div>
					<a class="zu-top-add-question pagination"th:href="@{/user/}+${userId}+'?page='+${page-1}" style="margin-left: 10px">上一页</a>
					<a class="zu-top-add-question pagination" th:href="@{/user/}+${userId}" >首页</a>
				</div>
			</div>
		</div>
	</div>
	<div class="My" th:replace="footer::footer"></div>

	<script type="text/javascript" th:src="@{/scripts/main/site/profile.js}"></script>

</body>
</html>